[submodule "docx/craftinginterpreters_zh"]
	path = docx/craftinginterpreters_zh
	url = https://github.com/kaishaoshao/craftinginterpreters_zh.git
[submodule "docx/dragon-book-answers"]
	path = docx/dragon-book-answers
	url = https://github.com/kaishaoshao/dragon-book-exercise-answers.git
[submodule "src/use_llvm/llvm-hello-world"]
	path = src/use_llvm/llvm-hello-world
